/*************** BASIC SETTING ***************/

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    min-width: 1044px;
    font: normal 14px/20px Arial, sans-serif;
    color: #1d1d1d;
}

.fixed_width_container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*************** HEADING ***************/

h1 {
    font: bold 116px/130px Arial, sans-serif;
}

h2 {
    font: normal 116px/127px "Times New Roman", serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

h3 {
    font: bold 50px/55px Arial, sans-serif;
    color: #1d1d1d;
}

/*************** HEADER ***************/

header {
    background: #7fbfba url("../images/header_bg.jpg") no-repeat center top;
}

/*************** HEADER TOP ***************/

.header_top {
    background-color: rgba(255, 255, 255, 0.94);
}

.header_top .logo,
.header_top nav,
.header_top .shop {
    float: left;
}

.header_top .logo {
    width: 158px;
    padding: 26px 16px 10px;
}

.header_top nav {
    width: 547px;
}

.header_top .shop {
    width: 267px;
    text-align: right;
    margin-top: 32px;
    margin-bottom: 10px;
    padding-right: 20px;
}

/*************** BLOCK LOGO ***************/

header .logo a {
    font: bold 38px/40px Arial, sans-serif;
    color: #626262;
}

header .logo a span {
    color: #06b5a9;
}

/*************** BLOCK NAVIFATION ***************/

header nav ul {
    text-align: right;
}

header nav li {
    display: inline-block;
}

header nav li a {
    display: inline-block;
    font: normal 17px/20px Arial, sans-serif;
    color: #626262;
    padding: 37px 17px 28px 19px;
}

header nav li a:hover {
    color: #fff;
    background-color: #cf1a2b;
}

/*************** BLOCK SHOP ***************/

.shop a,
.shop p {
    display: inline-block;
}

.shop p {
    color: #9d9d9d;
    font: normal 24px/30px Arial, sans-serif;
}

.shop a {
    margin-left: 13px;
}

/*************** SUBMENU OF NAVIGATION  ***************/

.nav_submenu {
    position: relative;
}

.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #cf1a2b;
    width: 600px;
    text-align: left;
    background: url("../images/Sub-menu-line.jpg") repeat-y 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: none;
    z-index: 2;
}

.nav_submenu:hover .submenu {
    display: block;
}

.submenu .col1,
.submenu .col2,
.submenu .col3 {
    float: left;
}

.submenu .col1 {
    width: 215px;
}

.submenu .col2 {
    width: 190px;
}

.submenu .col3 {
    width: 195px;
}

.submenu .logo2 {
    font: bold 38px/40px Arial, sans-serif;
    color: #fff;
    padding: 19px 10px 11px 38px;
}

.submenu .logo2 span {
    color: #fec8cd;
}

.under_logo {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 54px;
    padding-bottom: 20px;
}

.submenu ul {
    text-align: left;
    padding: 13px 10px 11px 40px;
}

.submenu li {
    display: block;
}

.submenu li a {
    display: block;
}

.submenu li a {
    color: rgba(255, 255, 255, 0.72);
    line-height: 34px;
    font-size: 16px;
    padding: 0;
}

/*************** HEADER BOTTOM ***************/

.header_bottom {
    color: #fff;
    text-align: center;
}

.header_bottom .fixed_width_container {
    padding-top: 262px;
    padding-bottom: 145px;
    position: relative;
}

.header_bottom p,
.header_bottom h1 {
    text-transform: uppercase;
    padding: 0 80px;
}

.header_bottom p {
    font: normal 22px/25px Arial, sans-serif;
    letter-spacing: 28px;
    margin-bottom: 10px;
}

.header_bottom a {
    position: absolute;
    top: 239px;
}

.header_bottom .left {
    left: 10px;
}

.header_bottom .right {
    right: 10px;
}

/*************** SECTION "OUR OFFER" ***************/

.our_offer .fixed_width_container {
    padding-top: 39px;
    margin-bottom: 47px;
}

.our_offer .block1,
.our_offer .block2,
.our_offer .block3,
.our_offer .block4 {
    width: 245px;
    float: left;
    margin-right: 15px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}

.our_offer .block4 {
    margin-right: 0;
}

.our_offer .block1 {
    padding: 18px 20px;
    width: 205px;
    min-height: 215px;
    background-color: #58dbd3;
}

.our_offer .heading {
    font: bold 30px/33px Arial, sans-serif;
}

.our_offer .subheading {
    font: bold 20px/22px Arial, sans-serif;
    padding-right: 97px;
    padding-top: 20px;
}

.our_offer .price {
    font: bold 49px/50px Arial, sans-serif;
}

.our_offer .block1 .price {
    color: #12867f;
    margin-top: 20px;
    margin-left: 8px;
}

.our_offer .block1 img,
.our_offer .block2 img,
.our_offer .block3 img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.our_offer .block1 img {
    top: 5px;
}

.our_offer .block2 {
    padding: 18px 21px 17px 32px;
    width: 191px;
    min-height: 215px;
    background-color: #e4ce9a;
}

.our_offer .block2 .price {
    color: #5e4c38;
    margin-top: 63px;
}

.our_offer .block3 {
    padding: 18px 7px 17px 35px;
    width: 203px;
    min-height: 215px;
    background-color: #ffa7ce;
}

.our_offer .block3 .subheading {
    padding-top: 0;
}

.our_offer .block3 .price {
    color: #414049;
    margin-top: 15px;
    margin-left: 3px;
}

.our_offer .block3 .subheading {
    padding-right: 97px;
    margin-top: 5px;
}

.our_offer .block4 {
    padding: 8px 22px 12px 22px;
    width: 200px;
    min-height: 215px;
    background-color: #f2ca66;
    text-align: center;
}

.our_offer .block4 .heading {
    font: bold 105px/105px Arial, sans-serif;
}

.our_offer .block4 .subheading {
    font: bold 65px/65px Arial, sans-serif;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 25px;
}

.our_offer .block4 .call {
    font: bold 26px/28px Arial, sans-serif;
    background-color: #fff;
    color: #f2ca66;
    width: 142px;
    padding: 4px 0 5px;
    position: relative;
    left: -22px;
    bottom: 0;
}

/*************** SECTION "CATIGORIES" ***************/

.catigories {
    background: #7f6aa3 url("../images/second_block_bg.jpg") no-repeat center -43px;
}

.catigories .fixed_width_container {
    padding-top: 43px;
    padding-bottom: 344px;
    position: relative;
}

.catigories h2 {
    margin-bottom: 52px;
}

.catigories .circle {
    width: 199px;
    height: 199px;
    border-radius: 50%;
    background-color: rgba(88, 219, 211, 0.5);
    text-align: center;
    display: inline-flex;
}

.catigories .circle img {
    margin: auto;
}

.catigories .block1 {
    background: url("../images/circle1.png") no-repeat left center;
    width: 199px;
    height: 199px;
}

.catigories .block9 {
    background: url("../images/circle3.png") no-repeat right center;
    width: 199px;
    height: 199px;
}

.catigories .block1,
.catigories .block2,
.catigories .block3,
.catigories .block4,
.catigories .block5,
.catigories .block6,
.catigories .block7,
.catigories .block8,
.catigories .block9 {
    position: absolute;
}

.catigories .block1 {
    bottom: 125px;
    left: -119px;
}

.catigories .block2 {
    bottom: 157px;
    left: -64px;
}

.catigories .block3 {
    bottom: 81px;
    left: 84px;
}

.catigories .block4 {
    bottom: 146px;
    left: 250px;
}

.catigories .block5 {
    bottom: 117px;
    left: 416px;
}

.catigories .block6 {
    bottom: 83px;
    left: 589px;
}

.catigories .block7 {
    bottom: 143px;
    right: 105px;
}

.catigories .block8 {
    bottom: 59px;
    right: -42px;
}

.catigories .block9 {
    bottom: 159px;
    right: -119px
}

/*************** SECTION "MODEL" ***************/

.model .fixed_width_container {
    padding-top: 186px;
    padding-bottom: 77px;
    position: relative;
}

.model .col1,
.model .col2 {
    float: left;
}

.model .col1 {
    width: 664px;
    padding: 0 55px;
    box-sizing: border-box;
}

.model .col2 {
    width: 360px;
}

.model .col1 img {
    position: absolute;
    top: -16px;
    left: 14px;
}

.model .col1 h3 {
    margin-bottom: 53px;
}

.model .col1 p {
    font: normal 14px/20px Arial, csans-serif;
    margin-bottom: 61px;
}

.model .col1 a {
    color: #fff;
    background: #d62132 url("../images/buy.png") no-repeat 13px 9px;
    width: 215px;
    font: normal 28px/30px "Myriad Pro", sans-serif;
    text-align: center;
    padding: 8px 29px 9px 51px;
}

.model .col1 a:hover {
    box-shadow: 2px 2px 2px #cecfcf inset, -2px -2px 2px #cecfcf inset;
}

/*************** FOOTER ***************/

footer {
    background-color: #1b2330;
}

footer .fixed_width_container {
    padding: 20px 0;
}

footer .col1 {
    width: 737px;
    padding-left: 13px;
}

footer .col2 {
    width: 270px;
    text-align: right;
    padding-top: 6px;
}

footer .col1,
footer .col2 {
    float: left;
}

footer .logo {
    font: bold 38px/42px Arial, sans-serif;
    color: #626262;
}

footer .logo span {
    color: #06b5a9;
}

footer .col1 p {
    font: normal 16px/23px "Myriad Pro", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

footer .col2 a {
    display: block;
    float: right;
}

footer .col2 .icon1 {
    margin-right: 14px;
}

footer .col2 .icon2 {
    margin-right: 40px;
}

footer .col2 .icon3 {
    margin-right: 47px;
}