/********* BASIC SETTING *********/

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    min-width: 1037px;
    font: normal 12px/18px 'open_sanslight', sans-serif;
    color: #333;
}

.wrapper {
    width: 100%;
    display: table;
}

header,
main,
footer {
    display: table-row;
}

header,
main {
    height: 100%;
}

.fixed_width_container {
    width: 907px;
    margin: 0 auto;
    padding: 0 65px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    color: #fff;
    font: normal 15px/52px 'latolight', sans-serif;
    padding: 0 47px;
    background-color: #ffa540;
    border-radius: 2px;
    border: 1px solid transparent;
}

.button:hover {
    background-color: #fff;
    color: #e67e22;
    line-height: 51px;
    border: 1px solid #e67e22;
}

/********* HEADING *********/

h1,
h2 {
    font-family: 'latoregular', sans-serif;
    color: #fff;
    font-weight: normal;
}

h1 {
    font-size: 48px;
    line-height: 70px;
    padding: 58px 0 26px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

.h3_container {
    text-align: center;
    background: url("../images/h3-line.png") repeat-x 0 center;
}

h3 {
    font: normal 24px/30px 'open_sansregular', sans-serif;
    text-transform: uppercase;
    color: #555;
    background-color: #fff;
    display: inline-block;
    padding: 0 30px;
}

h4 {
    font: normal 18px/25px 'latoregular', sans-serif;
}

h5 {
    font: normal 16px/18px 'open_sansregular', sans-serif;
}

h6 {
    color: #fff;
    font: normal 18px/20px 'open_sansregular', sans-serif;
    text-transform: uppercase;
    padding: 12px 0;
}

/********* HEADER *********/

header {
    background: #153257 url("../images/header-bg.jpg") no-repeat top center;
}

/********* HEADER TOP *********/

.header_top {
    padding-top: 60px;
    border-bottom: 1px solid rgba(167, 175, 193, 0.3);
    margin-bottom: 5px;
}

.header_top>a {
    display: block;
    width: 160px;
    float: left;
}

.header_top>nav {
    float: right;
    width: 740px;
    text-align: right;
}

.header_top>nav li,
.header_top>nav a {
    display: inline-block;
}

.header_top>nav a {
    color: #fff;
    font: normal 16px/20px 'latolight', sans-serif;
    padding: 21px 9px 33px;
    margin-left: 3px;
    border-bottom: 9px solid transparent;
    margin-bottom: -5px;
}

.header_top>nav a:hover {
    border-bottom: 9px solid #fea540;
}

/********* HEADER BOTTOM *********/

.header_bottom {
    text-align: center;
    padding-bottom: 190px;
    position: relative;
}

.header_bottom h2 {
    margin-bottom: 45px;
}

.header_bottom .button {
    text-transform: uppercase;
}

.header_bottom .left_arrow,
.header_bottom .right_arrow {
    position: absolute;
    display: inline-block;
    top: 170px;
}

.header_bottom .left_arrow {
    left: -57px;
}

.header_bottom .right_arrow {
    right: -57px;
}

/********** SECTION "ADVANTAGE" **********/

.advantages {
    padding: 56px 0;
}

.advantages .subheading {
    font: normal 20px/24px 'latolight', sans-serif;
    text-align: center;
    padding: 0 38px;
    margin-bottom: 65px;
}

.three_columns {
    overflow: hidden;
    padding-top: 52px;
}

.three_columns>div {
    float: left;
    width: 285px;
    box-sizing: border-box;
    border: 1px solid #c2c7c9;
    border-radius: 6px;
    margin-left: 26px;
    position: relative;
}

.three_columns>div:first-child {
    margin-left: 0;
}

.three_columns>div img {
    display: block;
}

.three_columns>div .description {
    text-align: center;
    padding: 20px 24px 32px;
}

.three_columns>div .description h4 {
    margin-bottom: 19px;
}

.three_columns>div .description p {
    font: normal 14px/19px 'latolight', sans-serif;
}

.three_columns>div .orange_icon {
    width: 72px;
    height: 72px;
    border-radius: 44px;
    border: 8px solid #fff;
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -44px;
}

.three_columns>.col1 .orange_icon {
    background: #ffa540 url("../images/col1-icon.png") no-repeat center center;
}

.three_columns>.col2 .orange_icon {
    background: #ffa540 url("../images/col2-icon.png") no-repeat center center;
}

.three_columns>.col3 .orange_icon {
    background: #ffa540 url("../images/col3-icon.png") no-repeat center center;
}

/********** SECTION "TOP FEATURES" **********/

.two_columns {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 59px;
}

.two_columns>div {
    float: left;
    box-sizing: border-box;
    position: relative;
    width: 441px;
}

.two_columns h5 {
    margin-top: 9px;
    margin-bottom: 16px;
}

.two_columns .col1 {
    margin-right: 25px;
    padding: 0 45px 20px 0;
}

.two_columns .col1 p {
    margin-bottom: 40px;
}

.two_columns .col2 {
    padding-left: 13px;
    padding-top: 6px;
}

.two_columns .button {
    font: normal 14px/43px 'open_sanslight', sans-serif;
    padding: 0 48px;
}

.two_columns .col2>div {
    width: 56px;
    height: 283px;
    background-color: #eee;
    border-radius: 2px;
    position: relative;
    margin-left: 29px;
    float: left;
}

.column1_small,
.column2_small,
.column3_small,
.column4_small,
.column5_small {
    width: 100%;
    background-color: #ffa540;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}

.column1_small {
    height: 30%;
}

.column2_small {
    height: 43%;
}

.column3_small {
    height: 80%;
}

.column4_small {
    height: 60%;
}

.column5_small {
    height: 90%;
}

/********** SECTION "OUR PROJECTS" **********/

.our_projects .four_columns>div {
    width: 208px;
    float: left;
    margin-left: 25px;
}

.our_projects .four_columns>div:first-child {
    margin-left: 0;
}

.our_projects .four_columns {
    padding-top: 44px;
    margin-bottom: 57px;
    text-align: center;
}

.our_projects .four_columns img {
    margin-bottom: 23px;
}

.our_projects .four_columns .sub {
    font: normal 14px/18px 'open_sansregular', sans-serif;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 2px;
}

.our_projects .four_columns p:last-child {
    font: normal 10px/18px 'open_sanslight', sans-serif;
    color: #aaa;
}

/********** SECTION "TESTIMONIALS" **********/

.testimonials {
    padding: 0 96px 45px 96px;
    text-align: center;
}

.testimonials .h3_container {
    margin-bottom: 22px;
}

.testimonials p {
    font: normal 14px/18px 'open_sanslight', sans-serif;
    padding: 0 95px;
    margin-bottom: 22px;
}

.testimonials img {
    margin-bottom: 18px;
}

.testimonials p span {
    font: normal 14px/18px 'open_sanssemibold', sans-serif;
    margin-left: -21px;
}

.testimonials .name {
    margin-bottom: 18px;
}

.testimonials .scrolling {
    width: 110px;
    margin: 0 auto;
}

.testimonials .scrolling a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #eee;
    float: left;
    margin-left: 6px;
}

.testimonials .scrolling a:hover {
    background-color: #ffa540;
}

/********** FOOTER **********/

/********** FOOTER TOP **********/

.footer_top {
    background-color: #434955;
    padding: 29px 0 34px;
    color: #aaa;
}

.footer_top .four_columns>div {
    float: left;
    width: 208px;
    margin-left: 25px;
}

.footer_top .four_columns>div:first-child {
    margin-left: 0;
}

.footer_top .four_columns .col1 a {
    display: inline-block;
    margin-bottom: 20px;
}

.footer_top .four_columns .col1 img {
    width: 100px;
    display: block;
}

.footer_top .col1 p {
    line-height: 20px;
}

.footer_top .col2 li,
.footer_top .col3 li {
    padding-left: 23px;
    margin-top: 10px;
    line-height: 20px;
}

.footer_top .col3 li {
    line-height: 16px;
}

.footer_top .col2 li a {
    color: #fff;
}

.footer_top .col2 li a:hover {
    text-decoration: underline;
}

.footer_top .col2 li:first-child {
    background: url("../images/map.png") no-repeat 0 2px;
}

.footer_top .col2 li:nth-child(2) {
    background: url("../images/phone.png") no-repeat 0 0;
}

.footer_top .col2 li:nth-child(3) {
    background: url("../images/mail.png") no-repeat 0 5px;
}

.footer_top .col2 li:last-child {
    background: url("../images/world.png") no-repeat 0 2px;
}

.footer_top .col3 li {
    background: url("../images/twitter.png") no-repeat 0 2px;
}

.footer_top .col3 li span {
    font-family: 'open_sanslight_italic', sans-serif;
}

.footer_top .four_columns .col4 h6 {
    margin-bottom: 9px;
}

.footer_top .four_columns .col4 p {
    margin-bottom: 9px;
}

input[type="email"] {
    font: normal 11px/14px 'open_sanslight', sans-serif;
    color: #959698;
    padding: 7px 8px;
    width: 139px;
    background-color: #353b47;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    width: 46px;
    height: 27px;
    float: right;
    display: block;
    background: #ffa540 url("../images/arrow.png") no-repeat center center;
    border: none;
    border-radius: 3px;
}

/********** FOOTER BOTTOM **********/

.footer_bottom {
    background-color: #353b47;
    padding: 16px 0;
}

.footer_bottom .copyright {
    font: normal 11px/17px 'open_sanslight', sans-serif;
    color: #777;
}

.footer_bottom .col1 {
    width: 208px;
    margin-right: 25px;
}

.footer_bottom .col2 {
    width: 674px;
}

.footer_bottom .col1,
.footer_bottom .col2 {
    float: left;
}

.footer_bottom .col2 a {
    display: block;
    float: right;
}

.footer_bottom .col2 .icon {
    margin-left: 4px;
}