/**************** BASIC SETTINGS *****************/

body {
    background-color: #f5f5f5;
    min-width: 610px;
}

.fixed_width_container {
    width: 590px;
    padding: 0 10px;
    margin: 0 auto;
}

p {
    color: #787b80;
    font: normal 14px/24px Arial, sans-serif;
}

img {
    vertical-align: bottom;
}

.button {
    display: block;
    color: #f5f5f5;
    background-color: #50c3af;
    text-align: center;
}

.button:hover {
    background-color: #48a292;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/**************** HEADING *****************/

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font: bold 53px/61px Arial, sans-serif;
}

h2 {
    color: #384048;
    font: bold 18px/24px Arial, sans-serif;
}

h3 {
    color: #384048;
    font: bold 16px/24px Arial, sans-serif;
}

h4 {
    color: #fff;
    font: normal 14px/24px Arial, sans-serif;
}

/**************** HEADER *****************/

header {
    background: #1e4249 url("../images/header-bg.jpg") no-repeat center top;
}

header .fixed_width_container {
    padding-top: 65px;
    padding-bottom: 120px;
    text-align: center;
}

header nav ul {
    margin-left: 117px;
    margin-top: 38px;
    margin-bottom: 58px;
}

header nav li {
    float: left;
    margin-right: 38px;
}

header nav li a {
    text-transform: uppercase;
    color: #fff;
    font: normal 13px/24px Arial, sans-serif;
}

header nav li a:hover {
    padding-bottom: 5px;
    background: url("../images/line-subheading.png") no-repeat center bottom;
}

header .subheading {
    overflow: hidden;
    margin: 30px 0 75px 53px;
}

header .subheading p {
    width: 260px;
    margin: 0 11px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

header .subheading p,
header .subheading img {
    float: left;
}

header .subheading img {
    margin-top: 10px;
}

header .button {
    text-transform: uppercase;
    width: 220px;
    margin: 0 auto;
    font: normal 15px/24px Arial, sans-serif;
    padding: 12px 6px;
}

/**************** SECTION "OUR ADVANTAGES" *****************/

.our_advantages {
    background-color: #eeeeef;
}

.our_advantages .col1,
.our_advantages .col2,
.our_advantages .col3 {
    float: left;
    text-align: center;
    padding: 49px 0 60px;
}

.our_advantages .col1,
.our_advantages .col3 {
    width: 170px;
}

.our_advantages .col1 {
    margin-right: 28px;
}

.our_advantages .col2 {
    width: 190px;
    margin-right: 28px;
}

.our_advantages .col1 img:first-child {
    margin-bottom: 36px;
}

.our_advantages .col2 img:first-child {
    margin-bottom: 32px;
}

.our_advantages .col3 img:first-child {
    margin-bottom: 26px;
}

.our_advantages .col1 h3,
.our_advantages .col2 h3,
.our_advantages .col3 h3 {
    margin-bottom: 15px;
}

.our_advantages .line {
    margin-bottom: 18px;
}

/*
.first_block .fixed_width_container .col1 .position,
.first_block .fixed_width_container .col2 .position,
.first_block .fixed_width_container .col3 .position {
    margin-left: 2px;
    margin-top: 4px;
}*/

/**************** SECTION "THEME BENEFITS" *****************/

.theme_benefits {
    background-color: #f5f5f5;
}

.theme_benefits .col1,
.theme_benefits .col2 {
    width: 265px;
    padding: 64px 0 75px;
}

.theme_benefits .col1 {
    float: left;
}

.theme_benefits .col2 {
    float: right;
}

.theme_benefits .col1 img:first-child,
.theme_benefits .col2 img:first-child {
    margin-bottom: 39px;
}

.theme_benefits .col1 h2,
.theme_benefits .col2 h2 {
    margin-bottom: 16px;
}

.theme_benefits .line {
    margin-bottom: 25px;
}

.theme_benefits .button {
    width: 96px;
    font: normal 14px/24px Arial, sans-serif;
    padding: 6px;
    margin-top: 30px;
}

/**************** SECTION "SUPPORT" *****************/

.support {
    background-color: #eeeeef;
}

.support .fixed_width_container {
    padding-top: 64px;
    padding-bottom: 65px;
}

.support .block {
    padding-left: 2px;
}

.support .block h2 {
    text-align: left;
    background: url("../images/pic1.png") no-repeat left top;
    padding-left: 40px;
    margin-bottom: 16px;
}

.support .line {
    margin-bottom: 20px;
}

.support .block p {
    margin-bottom: 30px;
}

.support .button {
    background-color: #d2d5da;
    width: 96px;
    font: normal 14px/24px Arial, sans-serif;
    padding: 6px;
}

.support .button:hover {
    background-color: #b2b4b9;
}

/**************** SECTION "TEMPLATE DESCRIPTION" *****************/

.template_description {
    background-color: #f5f5f5;
}

.template_description .col1,
.template_description .col2,
.template_description .col3 {
    float: left;
    width: 180px;
    padding: 58px 0 63px;
}

.template_description .col1 {
    margin-right: 24px;
}

.template_description .col2 {
    margin-right: 25px;
}

.template_description .col1 img:first-child,
.template_description .col2 img:first-child,
.template_description .col3 img:first-child {
    margin-bottom: 36px;
}

.template_description .col1 h3,
.template_description .col2 h3,
.template_description .col3 h3 {
    margin-bottom: 15px;
}

.template_description .line {
    margin-bottom: 18px;
}

.template_description p {
    font: normal 12px/24px Arial, sans-serif;
    margin-bottom: 16px;
}

.template_description a {
    color: #50c3af;
    font: normal 14px/24px Arial, sans-serif;
}

.template_description a::after {
    content: ">";
    margin-left: 5px;
}

/**************** SECTION "OUR OFFER" *****************/

.our_offer {
    background-color: #eeeeef;
}

.our_offer .fixed_width_container {
    padding-top: 61px;
    padding-bottom: 61px;
    text-align: left;
}

.our_offer .col1,
.our_offer .col2 {
    float: left;
    width: 250px;
}

.our_offer .col1 {
    margin-right: 78px;
}

.our_offer h2 {
    margin-bottom: 14px;
    padding-left: 40px;
}

.our_offer .col1 h2 {
    background: url("../images/pic2.png") no-repeat left top;
}

.our_offer .col2 h2 {
    background: url("../images/pic3.png") no-repeat left top;
}

.our_offer .line {
    margin-bottom: 20px;
}

.our_offer .col1 p,
.our_offer .col2 p {
    margin-bottom: 30px;
}

.our_offer .button {
    width: 96px;
    font: normal 14px/24px Arial, sans-serif;
    padding: 6px 4px;
}

/**************** SECTION "SPECIAL OFFER" *****************/

.special_offer {
    background-color: #f5f5f5;
}

.special_offer .fixed_width_container {
    padding-top: 60px;
    padding-bottom: 64px;
    text-align: left;
}

.special_offer .col1,
.special_offer .col2 {
    float: left;
}

.special_offer .col1 {
    width: 264px;
    margin-right: 35px;
}

.special_offer .col2 {
    width: 290px;
}

.special_offer .col2 h3 {
    margin-bottom: 18px;
}

.special_offer .col2 .line {
    margin-bottom: 25px;
}

.special_offer .col2 p {
    margin-bottom: 24px;
}

.special_offer .col2 .button {
    background-color: #d2d5da;
    width: 96px;
    font: normal 14px/24px Arial, sans-serif;
    text-align: center;
    padding: 6px 4px;
}

.special_offer .button:hover {
    background-color: #b2b4b9;
}

/**************** SECTION "OUR CLIENTS" *****************/

.our_clients {
    background-color: #50c3af;
    text-align: center;
}

.our_clients .fixed_width_container {
    padding-top: 46px;
    padding-bottom: 69px;
}

.our_clients h4 {
    text-align: center;
    background: url("../images/pic4.png") no-repeat left 3px;
    width: 222px;
    margin: 0 auto;
    padding: 0 23px;
    margin-bottom: 16px;
}

.our_clients .line {
    margin-bottom: 38px;
}

.our_clients .logos a {
    display: block;
    float: left;
}

.our_clients .logos .logo1 {
    margin-right: 60px;
}

.our_clients .logos .logo2 {
    margin-right: 63px;
}

.our_clients .logos .logo3 {
    margin-right: 51px;
}

/**************** FOOTER *****************/

footer {
    background-color: #f5f5f5;
}

footer .fixed_width_container {
    padding-top: 16px;
    padding-bottom: 16px;
}

footer .col1 {
    width: 490px;
}

footer .col2 {
    width: 100px;
    text-align: left;
}

footer .col1,
footer .col2 {
    float: left;
}

footer .col1 p {
    color: #aaacaf;
    font-size: 13px;
}

footer .col1 p span {
    color: #787b80;
}

footer .col1 p a {
    color: #aaacaf;
}

footer .col1 p a:hover {
    color: #000;
}

footer .social_icons {
    overflow: hidden;
    padding-top: 4px;
}

footer .col2 a {
    display: block;
    float: right;
}

footer .col2 .icon1 {
    margin-left: 19px;
}


footer .col2 .icon2 {
    margin-left: 14px;
}

footer .col2 .icon1:hover {
    background: url("../images/twitter2.png") no-repeat center center;
}

footer .col2 .icon2:hover {
    background: url("../images/facebook2.png") no-repeat center center;
}


footer .col2 .icon3:hover {
    background: url("../images/google2.png") no-repeat center center;
}

