/************* BASIC FONTS ***************/

.fixed_width_container {
    width: 1340px;
    margin: 0 auto;
}

p {
    font: bold 16px/26px Arial, sans-serif;
    color: #8a8a8a;
}

img {
    vertical-align: top;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/************* HEADING ***************/

h1 {
    color: #282828;
    font: normal 60px/75px Arial, sans-serif;
    letter-spacing: 2.4px;
}

h2 {
    color: #282828;
    font: bold 40px/50px Arial, sans-serif;
}

h2 span {
    color: #ff6d6d;
}

h3 {
    color: #ff6d6d;
    text-transform: uppercase;
    font: bold 16px/20px Arial, sans-serif;
    letter-spacing: 3.2px;
}

h4 {
    color: #282828;
    font: bold 22px/30px Arial, sans-serif;
    margin-bottom: 6px;
}

/************* HEADER ***************/

header {
    text-align: center;
    background: url("../images/bg-first-block.jpg") no-repeat center top;
}

header .fixed_width_container {
    padding-top: 210px;
    padding-bottom: 226px;
}

header h1 {
    margin-bottom: 45px;
    padding-left: 295px;
    padding-right: 295px;
}

header img {
    margin-bottom: 47px;
}

header a {
    display: block;
    background-color: #ff6d6d;
    width: 169px;
    margin: 0 auto;
    margin-bottom: 16px;
    font: normal 16px/19px Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    padding: 12px 6px;
}

header a:hover {
    box-shadow: inset 2px 2px 2px #8a8a8a, inset -2px -2px 2px #8a8a8a;
}

header p {
    font: normal 14px/17px Arial, sans-serif;
    color: #8a8a8a;
}

/************* SECTION "NEW DESIGN" ***************/

.new_design .block1 {
    width: 653px;
    margin: 174px 112px 0 100px;
}

.new_design .block2 {
    width: 475px;
}

.new_design .block1,
.new_design .block2 {
    float: left;
}

.new_design h3 {
    margin-bottom: 15px;
}

.new_design h2 {
    margin-bottom: 43px;
}

.new_design p {
    margin-bottom: 28px;
}

.new_design .block2 {
    background-color: #ededed;
}

.new_design .block2 img {
    margin-top: 319px;
}

/************* SECTION "NEW FEATURES" ***************/

.new_features {
    text-align: center;
}

.new_features .fixed_width_container {
    background-color: #f6f5f3;
}

.new_features header {
    background: url("../images/bg-pen.png") no-repeat 31px 10px;
    padding: 129px 85px 61px;
}

.new_features h3 {
    margin-bottom: 8px;
    margin-left: 4px;
}

.new_features h2 {
    margin-bottom: 20px;
}

.new_features .features {
    margin-left: 99px;
    padding-bottom: 134px;
}

.new_features .block1,
.new_features .block2,
.new_features .block3 {
    width: 360px;
    float: left;
    margin-right: 30px;
    padding-bottom: 20px;
}

.new_features .block3 {
    margin-right: 0;
}

.new_features .block1 img,
.new_features .block2 img,
.new_features .block3 img {
    margin-bottom: 22px;
}

/************* SECTION "NEW DESIGN 2" ***************/

.new_design_2 .block1 {
    width: 670px;
    margin-right: 15px;
    background: url("../images/bg-fifth-block.png") no-repeat left bottom;
}

.new_design_2 .block2 {
    width: 488px;
}

.new_design_2 .block1,
.new_design_2 .block2 {
    float: left;
}

.new_design_2 .block1 img {
    padding: 100px 0 132px 75px;
}

.new_design_2 .block2 h3 {
    margin-top: 141px;
    margin-bottom: 11px;
}

.new_design_2 .block2 h2 {
    margin-bottom: 35px;
}

.new_design_2 .block2 p {
    padding-bottom: 20px;
}

/************* SECTION "OUR TEAM" ***************/

.our_team {
    text-align: center;
}

.our_team .fixed_width_container {
    background: url("../images/bg-sixth-block.jpg") no-repeat left top;
}

.our_team .team {
    margin-left: 100px;
    padding-top: 106px;
    padding-bottom: 20px;
}

.our_team .block1,
.our_team .block2,
.our_team .block3 {
    width: 360px;
    float: left;
    margin-right: 30px;
    padding-bottom: 20px;
}

.our_team .block3 {
    margin-right: 0;
}

.our_team .block1 img,
.our_team .block2 img,
.our_team .block3 img {
    margin-bottom: 19px;
}

.our_team .name {
    font: bold 22px/30px Arial, sans-serif;
    color: #fff;
}

.our_team .profession {
    font: bold 16px/25px Arial, sans-serif;
    color: #ff6d6d;
    margin-bottom: 26px;
}

.our_team blockquote {
    font: normal 16px/26px Arial, sans-serif;
    color: #fff;
}

.our_team .block1 blockquote {
    padding-left: 25px;
    padding-right: 25px;
}

.our_team .block2 blockquote {
    padding-left: 30px;
    padding-right: 30px;
}

.our_team .block3 blockquote {
    padding-left: 19px;
    padding-right: 19px;
}

/************* SECTION "OUR CUSTOMERS" ***************/

.our_customers .fixed_width_container {
    background-color: #1f2026;
    padding-top: 50px;
    padding-bottom: 57px;
}

.our_customers .block1,
.our_customers .block2,
.our_customers .block3,
.our_customers .block4,
.our_customers .block5 {
    display: inline-block;
    vertical-align: middle;
}

.our_customers .block1 {
    margin-left: 190px;
}

.our_customers .block2 {
    margin-left: 84px;
}

.our_customers .block3 {
    margin-left: 102px;
}

.our_customers .block4 {
    margin-left: 110px;
}

.our_customers .block5 {
    margin-left: 99px;
}

/************* SECTION "NEW FEATURES" ***************/

.new_features_2 .fixed_width_container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 467px;
    background: #f6f5f3 url("../images/window.png") no-repeat center bottom;
}

.new_features_2 h3 {
    margin-bottom: 6px;
}

.new_features_2 h2 {
    margin-bottom: 31px;
}

.new_features_2 p {
    padding-left: 325px;
    padding-right: 325px;
}

/************* FOOTER ***************/

footer .fixed_width_container {
    background: url("../images/bg-footer.png") no-repeat right top;
    padding-top: 87px;
    padding-bottom: 47px;
}

footer .block1,
footer .block2,
footer .block3,
footer .block4 {
    float: left;
    margin-right: 30px;
}

footer .block1 {
    width: 263px;
    margin-left: 102px;
}

footer .block2 {
    width: 165px;
}

footer .block3 {
    width: 165px;
}

footer .block4 {
    width: 555px;
    margin-right: 0;
}

footer .block1 img {
    margin-bottom: 2px;
}

footer .block1 p {
    font-size: 14px;
    padding-right: 28px;
}

footer .block1 p a {
    color: #8a8a8a;
}

footer .block1 p a:hover {
    color: #000;
}

footer ul {
    list-style: none;
    margin-top: 14px;
}

footer ul a {
    font: normal 14px/30px Arial, sans-serif;
    color: #8a8a8a;
}

footer ul a:hover {
    color: #000;
}

footer .block4 h4 {
    margin-bottom: 18px;
}

footer .cotact_icon li {
    display: inline-block;
    margin-right: 23px;
}

footer .cotact_icon li:first-child img:hover {
    content: url("../images/contact-icon1-2.png");
}

footer .cotact_icon li:nth-child(2) img:hover {
    content: url("../images/contact-icon2-2.png");
}

footer .cotact_icon li:nth-child(3) img:hover {
    content: url("../images/contact-icon3-2.png");
}

footer .cotact_icon li:nth-child(4) img:hover {
    content: url("../images/contact-icon4-2.png");
}

footer .cotact_icon img:hover::after {
    display: block;
}